.theme-alpha {
  --sidebar: #f0f0f2;
  --sidebar-foreground: #312847;
  --sidebar-primary: #63597b;
  --sidebar-primary-foreground: #f5f5f7;
  --sidebar-accent: #d5d1dc;
  --sidebar-accent-foreground: #312847;
  --sidebar-border: #dfdce5;
  --sidebar-ring: #73688d;
  --radius: 0.5rem;
  --background: #f5f5f7;
  --foreground: #312847;
  --card: #f5f5f7;
  --card-foreground: #312847;
  --popover: #f5f5f7;
  --popover-foreground: #312847;
  --primary: #63597b;
  --primary-foreground: #f5f5f7;
  --secondary: #f27a67;
  --secondary-foreground: #f5f5f7;
  --muted: #ecebef;
  --muted-foreground: #9c94b0;
  --accent: #ecebef;
  --accent-foreground: #312847;
  --destructive: #e93f3f;
  --border: #dfdce5;
  --input: #dfdce5;
  --ring: #73688d;
  --chart-1: #63597b;
  --chart-2: #f27a67;
  --chart-3: #e1ebea;
  --chart-4: #f2e6bc;
  --chart-5: #383238;
  --nprogress-color: var(--secondary);

  @variant dark {
    --sidebar: #3b3150;
    --sidebar-foreground: #f5f5f7;
    --sidebar-primary: #73688d;
    --sidebar-primary-foreground: #f5f5f7;
    --sidebar-accent: #443a5b;
    --sidebar-accent-foreground: #f5f5f7;
    --sidebar-border: #443a5b;
    --sidebar-ring: #73688d;
    --background: #312847;
    --foreground: #f5f5f7;
    --card: #443a5b;
    --card-foreground: #f5f5f7;
    --popover: #443a5b;
    --popover-foreground: #f5f5f7;
    --primary: #73688d;
    --primary-foreground: #312847;
    --secondary: #f27a67;
    --secondary-foreground: #f5f5f7;
    --muted: #73688d;
    --muted-foreground: #bbb5c6;
    --accent: #73688d;
    --accent-foreground: #f5f5f7;
    --destructive: #e93f3f;
    --border: #443a5b;
    --input: #443a5b;
    --ring: #73688d;
    --chart-1: #73688d;
    --chart-2: #f27a67;
    --chart-3: #e1ebea;
    --chart-4: #f2e6bc;
    --chart-5: #383238;
    --nprogress-color: var(--secondary);
  }
}
